<h2>Reactive Form</h2>
<button class="btn btn-primary"  (click)="addAlternateEmail()">Add Alternate Email too</button>

<form [formGroup]="myform" (ngSubmit)="formSubmitted()">
  Name: <input [class.red]="username.invalid && username.touched" type="text" formControlName="name" />

  <div *ngIf="username.invalid && username.touched">

    <small *ngIf="username.errors?.required">Name can't be empty</small>
      <small *ngIf="username.errors?.minlength">Too small name </small>
      <small *ngIf="username.errors?.forbidden">Admin not allowed</small>

    


  </div>




  Email: <input [class.red]="email.invalid && email.touched" type="email" formControlName="email" />
  <br>
  
  Password: <input type="password" formControlName="password">
  Confirm Password : <input type="password" formControlName="confirmpassword">

  <small *ngIf="myform.errors?.mismatch">password didn't matched</small>

<br>

<div formArrayName="alternative" *ngFor="let altEmail of alternateEmail.controls; let i=index">

  <input type="text" [formControlName]="i" >
</div>




<br>

   

  <div formGroupName="address">
    City:<input type="text" formControlName="city" /> Zip:
    <input type="number" formControlName="zip" />
  </div>

  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" formControlName="subscription"  value="subscribed">
      Subscribe It
    </label>
  </div>

  <button  type="submit">Click to submit</button>
</form>

{{ myform.value | json }}
<br>

{{myform.status}}